#kaocha/v1
{:plugins  [:options-trader.test-plugin/ran-summary]
 :reporter [kaocha.report/documentation]
 :tests    [{:id          :unit
             :test-paths  ["test"]
             :ns-patterns [".*-test$"]}]}
