{:sp500    {:url             "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
            :table-selector  ".wikitable"
            :ticker-column   0
            :format          :html}
 :nasdaq100 {:url            "https://en.wikipedia.org/wiki/Nasdaq-100"
             :table-selector ".wikitable"
             :ticker-column  1
             :format         :html}}
